<!DOCTYPE html>
<html>
  <head>
    <title>FizzBuzz numbers</title>
  </head>
  <body>
    <main>
        <h1>Welcome to my HTML Page</h1>
        {% for i in range(101)%}
        
        {% if i%3==0 and i%5==0 %}
            <ul>{{i}} FizzBuzz</ul>
        {% elif i%3==0 %}
            <ul>{{i}} Fizz</ul>
        {% elif i%5==0 %}
            <ul>{{i}} Buzz</ul>
        {% endif %}
        {% endfor%}
        <p>This is a sample HTML template.</p>
    </main>
    <footer>
        <p>Copyright ©2021 My Website</p>
    </footer>
  </body>
</html>
